.btn-group-xs > .btn, .btn-xs {
  padding  : 6px 2px;
  font-size  : .875rem;
  line-height  : .5;
  border-radius : .2rem;
  margin: 0 2px;
  font-size: 12px;
}

body {
  margin: 0;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.faded {
  opacity: 0.2;
}
.faded:hover {
  opacity: 0.5;
}
.btn {
  padding: 5px;
}
.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.lightblue {
  color: lightblue;
}
.red {
  color: red;
}
.subtitle {
  font-size: 15px;
  font-style: italic;
  color: grey;
  margin-bottom: 10px;
}

.faded {
  opacity: 0.2;
}
.faded:hover {
  opacity: 0.5;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none;
}
.panel-wm {
  padding-top: 56px;
}
.panel-wm .nav-stacked {
  padding-bottom: 30px;
}
.panel-wm .nav-stacked .nav-item {
  width: 100%;
}
.panel-wm .nav > li > a {
  padding: 10px 15px;
  border-radius: 0;
}
.panel-wm .panel-wm-content {
  padding-left: 255px;
  padding-right: 15px;
}
.panel-wm .panel-wm-left {
  position: fixed;
  z-index: 400;
  transition: left 0.15s;
  top: calc(56px);
  bottom: 0;
  left: 0;
  background-color: #f5f5f5;
  transform: translate3d(0, 0, 0);
  border-right: 1px solid #d0d0d0;
  overflow-y: auto;
  width: 250px;
}


.github-button-container {
  position: relative;
  top: 6px;
  margin: 0 5px;
}
